@charset "utf-8";
$colors: #555555, #ff3333, #ffffff;

.edit-task {
  width: 1000px;
  margin: 0 auto;

  .edit-task-form {
    color: nth($colors, 1);

    .edit-task-title,
    .edit-task-detail {
      width: 300px;
      margin-bottom: 25px;
    }

    .edit-task-limit {
      width: 300px;
      margin-bottom: 5px;
    }

    .editExample {
      width: 300px;
      margin-bottom: 25px;
    }

    .delete-task-button {
      color: nth($colors, 2);
      border: solid 1px #ff3333;
      width: 80px;
      height: 40px;
      margin: 25px 5px;
      border-radius: 5px;
    }

    .edit-task-button {
      background-color: #242f9b;
      color: nth($colors, 3);
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }

  .error-message {
    color: nth($colors, 2);
  }
}
