@charset "utf-8";
$colors: #555555, #ff3333, #ffffff;

.edit-task {
  margin: 0 auto;

  .edit-task-form {
    color: nth($colors, 1);

    .delete-task-button {
      color: nth($colors, 2);
    }

    .edit-task-button {
      background-color: #242f9b;
      color: nth($colors, 3);
    }
  }

  .error-message {
    color: nth($colors, 2);
  }
}

@media screen and (min-width: 320px) {
  /*　for iPhoneSE　*/

  .edit-task {
    width: 312px;

    .edit-task-form {
      .edit-task-title,
      .edit-task-detail {
        width: 93x;
        margin-bottom: 7.8px;
      }

      .edit-task-limit {
        width: 93px;
        margin-bottom: 1.5px;
      }

      .delete-task-button {
        border: solid 0.3px #ff3333;
        width: 25px;
        height: 12px;
        margin: 7.8px 1.5px;
        border-radius: 1.5px;
      }

      .edit-task-button {
        width: 25px;
        height: 12px;
        border-radius: 1.5px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　for iPad 　*/

  .edit-task {
    width: 768px;

    .edit-task-form {
      .edit-task-title,
      .edit-task-detail {
        width: 230px;
        margin-bottom: 19px;
      }

      .edit-task-limit {
        width: 230px;
        margin-bottom: 3.8px;
      }

      .delete-task-button {
        border: solid 0.7px #ff3333;
        width: 61px;
        height: 30px;
        margin: 19px 3.8px;
        border-radius: 3.8px;
      }

      .edit-task-button {
        width: 61px;
        height: 30px;
        border-radius: 3.8px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  /*　for PC　*/

  .edit-task {
    width: 1000px;

    .edit-task-form {
      .edit-task-title,
      .edit-task-detail {
        width: 300px;
        margin-bottom: 25px;
      }

      .edit-task-limit {
        width: 300px;
        margin-bottom: 5px;
      }

      .delete-task-button {
        border: solid 1px #ff3333;
        width: 80px;
        height: 40px;
        margin: 25px 5px;
        border-radius: 5px;
      }

      .edit-task-button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
