@charset "utf-8";
$colors: #555555, #ffffff;

.new-list {
  width: 1000px;
  margin: 0 auto;

  .new-list-form {
    color: nth($colors, 1);

    .new-list-title {
      width: 300px;
      margin-bottom: 25px;
    }

    .new-list-button {
      background-color: #242f9b;
      color: nth($colors, 2);
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
