@charset "utf-8";
$colors: #555555, #ffffff;

.new-list {
  margin: 0 auto;

  .new-list-form {
    color: nth($colors, 1);

    .new-list-button {
      background-color: #242f9b;
      color: nth($colors, 2);
    }
  }
}

@media screen and (min-width: 320px) {
  /*　for iPhoneSE　*/

  .new-list {
    width: 312px;

    .new-list-form {
      .new-list-title {
        width: 93px;
        margin-bottom: 7.8px;
      }

      .new-list-button {
        width: 25px;
        height: 12px;
        border-radius: 1.5px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　for iPad 　*/

  .new-list {
    width: 768px;

    .new-list-form {
      .new-list-title {
        width: 230px;
        margin-bottom: 19px;
      }

      .new-list-button {
        width: 61px;
        height: 30px;
        border-radius: 3.8px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  /*　for PC　*/
  .new-list {
    width: 1000px;

    .new-list-form {
      .new-list-title {
        width: 300px;
        margin-bottom: 25px;
      }

      .new-list-button {
        width: 80px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
