@charset "utf-8";
$colors: #555555, #ffff88, #ff3333;

.whole {
  background-image: url(../material/アジト.webp);
  background-size: cover;
}

.review-detail {
  margin: 0 auto;
  color: nth($colors, 2);

  .review-form {
    &__title,
    &__detail,
    &__url,
    &__review {
      width: 100%;
      font-size: large;
    }

    &__detail,
    &__review {
      resize: none;
    }

    &__submit,
    &__button {
      background-color: #242f9b;
      color: nth($colors, 2);
    }
  }

  &__error-message {
    color: nth($colors, 3);
  }
}

.review-link {
  color: nth($colors, 2);
}

@media screen and (min-width: 1024px) {
  /*　for PC　*/
  .review-detail {
    margin: 35px auto;
    width: 500px;

    .review-form {
      margin: 25px 0;

      &__title,
      &__url {
        height: 30px;
        margin-bottom: 25px;
      }

      &__detail,
      &__review {
        height: 100px;
        margin-bottom: 25px;
      }

      &__submit,
      &__button {
        width: 100px;
        height: 40px;
        border-radius: 5px;
      }
      &__button {
        margin-left: 25px;
      }
    }
  }
}
