@charset "utf-8";
$colors: #555555, #ffffff, #ff3333;

.signin {
  width: 500px;
  margin: 0 auto;

  .signin-form {
    margin: 25px 0;

    .email-label,
    .password-label {
      color: nth($colors, 1);
    }

    .email-input,
    .password-input {
      width: 100%;
      font-size: large;
      height: 30px;
      margin-bottom: 25px;
    }

    .signin-button {
      background-color: #242f9b;
      color: nth($colors, 2);
      width: 100px;
      height: 40px;
      border-radius: 5px;
    }
  }

  .error-message {
    color: nth($colors, 3);
  }
}
