@charset "utf-8";
$colors: #555555, #ffffff, #ff3333;

.whole {
  background-image: url(../material/アジト（照明ON）.jpg);
  background-size: cover;
}

.signin {
  margin: 0 auto;
  color: nth($colors, 2);

  .signin-form {
    .email-input,
    .password-input {
      width: 100%;
      font-size: large;
    }

    .signin-button {
      background-color: #242f9b;
      color: nth($colors, 2);
    }
  }

  .error-message {
    color: nth($colors, 3);
  }
}

.link {
  color: nth($colors, 2);
}

@media screen and (min-width: 320px) {
  /*　for iPhoneSE　*/

  .signin {
    width: 156px;

    .signin-form {
      margin: 7.8px 0;

      .email-input,
      .password-input {
        height: 9.3px;
        margin-bottom: 7.8px;
      }

      .signin-button {
        width: 31px;
        height: 12.5px;
        border-radius: 1.5px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　for iPad 　*/
  .signin {
    width: 384px;

    .signin-form {
      margin: 19px 0;

      .email-input,
      .password-input {
        height: 23px;
        margin-bottom: 19px;
      }

      .signin-button {
        width: 76px;
        height: 30px;
        border-radius: 3.8px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  /*　for PC　*/
  .signin {
    margin: 35px auto;
    width: 500px;

    .signin-form {
      margin: 25px 0;

      .email-input,
      .password-input {
        height: 30px;
        margin-bottom: 25px;
      }

      .signin-button {
        width: 100px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
