@charset "utf-8";
$color1: #ffffff;

.header {
  width: 100%;
  background-color: #242f9b;
  color: $color1;
  display: flex;
  justify-content: space-between;

  .sign-out-button {
    color: $color1;
  }
}

@media screen and (min-width: 320px) {
  /*　for iPhoneSE　*/
  .header {
    height: 25px;

    .sign-out-button {
      margin: auto 7px auto auto;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　for iPad 　*/
  .header {
    height: 60px;

    .sign-out-button {
      margin: auto 16px auto auto;
    }
  }
}
@media screen and (min-width: 1024px) {
  /*　for PC　*/
  .header {
    height: 80px;

    .sign-out-button {
      margin: auto 25px auto auto;
    }
  }
}
