@charset "utf-8";
$color1: #ffffff;

.header {
  width: 100%;
  color: $color1;
  display: flex;
  justify-content: space-between;
  &__title {
    margin: 10px auto auto 25px;
  }
}

.header-content {
  &__button,
  &__link-notokenreview {
    font-size: 15px;
    text-decoration: none;
    color: $color1;
    margin: 15px 25px 5px auto;
  }
}

@media screen and (min-width: 1024px) {
  /*　for PC　*/
  .header {
    height: 80px;
  }
}
