@charset "utf-8";
$color1: #ffffff;

.header {
  width: 100%;
  color: $color1;
  display: flex;
  justify-content: space-between;
  &__title {
    margin: 10px auto auto 25px;
  }
}

.header-contents {
  margin: 10px 25px 10px auto;
}

.header-content {
  &__link {
    font-size: 15px;
    text-decoration: none;
    color: $color1;
  }
}

@media screen and (min-width: 1024px) {
  /*　for PC　*/
  .header {
    height: 80px;
  }
}
